<div class="navbar-container">
    <div class="navbar-brand-container">
        <a class="navbar-brand" href="">Farhan S.</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="nav-menu">
            <div class="nav-item">
                <NavLink class="nav-link" href="#about">
                    <span class="bi bi-person-fill nav-icon" aria-hidden="true"></span> About
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="#experience">
                    <span class="bi bi-briefcase-fill nav-icon" aria-hidden="true"></span> Experience
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="#skills">
                    <span class="bi bi-tools nav-icon" aria-hidden="true"></span> Skills
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="#education">
                    <span class="bi bi-mortarboard-fill nav-icon" aria-hidden="true"></span> Education
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="#contact">
                    <span class="bi bi-envelope-fill nav-icon" aria-hidden="true"></span> Contact
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
